{
  "endOfLine": "lf",
  "filepath": "src/**/*.{js,jsx,ts,tsx,css}",
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "singleQuote": true
}
