{
  "jsxSingleQuote": true,
  "singleQuote": true,
  "endOfLine": "lf",
  "filepath": "src/**/*.{js,jsx,ts,tsx}",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
