:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #f8c455,
    #f5efda
  );

  --vp-home-hero-image-background-image: url('https://avatars.githubusercontent.com/u/29329988');
  --vp-home-hero-image-filter: blur(50px);

  .VPContent {
    flex: inherit;
    margin: auto;
  }

  .VPHero .VPImage {
    border-radius: 50%;
    height: auto;
  }

  .vp-doc p:has(img):not(:has(:only-child)) img {
    display: inline-block;
    vertical-align: text-bottom;
  }

  .vp-doc p img {
    margin: auto;
    border-radius: 0.5em;
  }

  .avatar-img {
    margin: auto;
    aspect-ratio: 1 / 1;
  }

  body {
    -webkit-tap-highlight-color: transparent;
  }

  .typst-text {
    fill: var(--vp-c-text-1) !important;
  }

  s {
    text-decoration: double line-through var(--vp-c-red-1);
  }
}

/* https://nolebase-integrations.ayaka.io/pages/en/integrations/vitepress-plugin-enhanced-readabilities/#add-plugin-into-the-theme-options-of-vitepress */
.VPSocialLinks.VPNavBarSocialLinks.social-links {
  margin-right: 0;
}

kbd {
  display: inline-block;
  padding: 0.18rem 0.45rem;
  border: 1px solid var(--vp-c-divider);
  border-bottom-width: 2px;
  border-radius: 0.45rem;
  font-size: 0.875em;
  white-space: nowrap;
  line-height: 1;
}

.vp-doc .vp-kbd-group {
  vertical-align: middle;
  line-height: 1;
}

.vp-doc .vp-kbd-group *:not(:first-child) {
  margin-left: 0.18rem;
  line-height: 1;
}

.vp-doc .vp-kbd-group *:not(:last-child) {
  margin-right: 0.18rem;
  line-height: 1;
}

:root:lang(ja){
  --vp-font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, "M PLUS 2", 'Source Han Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}