@import 'tailwindcss';
@import './typography.css';

@plugin 'tailwindcss-motion';
@plugin './hero.ts';

@source '../../src/pages/**/*.{js,ts,jsx,tsx,mdx}';
@source '../../src/components/**/*.{js,ts,jsx,tsx,mdx}';
@source '../../src/app/**/*.{js,ts,jsx,tsx,mdx}';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans:
    var(--font-sans), var(--font-sans-sc), 'ui-sans-serif', 'system-ui',
    'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-mono:
    var(--font-mono), var(--font-sans-sc), 'ui-sans-serif', 'system-ui',
    'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

html.light .shiki,
html.light .shiki span {
  color: var(--shiki-light);
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark);
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}

.label {
  font-family: inherit !important;
  font-size: 15px;
}

svg {
  font-family: inherit !important;
}

code .tab,
code .space {
  position: relative;
}

code .tab::before {
  content: '⇥';
  position: absolute;
  opacity: 0.3;
}

code .space::before {
  content: '·';
  position: absolute;
  opacity: 0.3;
}
