html.light .shiki,
html.light .shiki span {
  color: var(--shiki-light);
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark);
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}

.label {
  font-family: inherit !important;
  font-size: 15px;
}

svg {
  font-family: inherit !important;
}

code .tab,
code .space {
  position: relative;
}

code .tab::before {
  content: '⇥';
  position: absolute;
  opacity: 0.3;
}

code .space::before {
  content: '·';
  position: absolute;
  opacity: 0.3;
}
