html.light .shiki,
html.light .shiki span {
  color: var(--shiki-light);
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark);
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}

.label {
  font-family: inherit !important;
  font-size: 15px;
}

svg {
  font-family: inherit !important;
}
